html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
}
#view {
    display: inline-block;
}
#header {
    margin-top: 2em;
    margin-bottom: 5em;
    text-align: center;
}
#main {
    font-size: 150%;
    text-align: center;
}
.up::before {
    font-weight: bold;
    color: green;
    content: "up!";
}
.down::before {
    font-weight: bold;
    color: red;
    content: "down!";
}
