html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
}
#view {
    display: inline-block;
}
#header {
    margin-top: 2em;
    margin-bottom: 5em;
    text-align: center;
}
#main {
    font-size: 150%;
    text-align: center;
}
.up::before {
    font-weight: bold;
    color: green;
    content: 'up!';
}
.down::before {
    font-weight: bold;
    color: red;
    content: 'down!';
}
.wait::before {
    content: '';
    background-image:url('https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif');
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    top: 0.2em;
}
